@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix chat scrolling */
html, body {
  overflow: hidden;
}

/* Hide scrollbar in chat */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
